<meta charset="ISO-8859-1" />
<title>Notariat Admin</title>
<meta name="description"
	content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
	<meta http-equiv="Content-Type" charset="UTF-8"
	content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" th:href="@{/css/app.v1.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/js/calendar/bootstrap_calendar.css}"
	type="text/css" />
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
