<!DOCTYPE html>
<html lang="en" class="app" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" charset="UTF-8"
	content="text/html; charset=utf-8" />
</head>
<body class="">
	<div th:include="common/globalheader.html" th:remove="tag"></div>
	<section class="vbox">
		<div th:include="common/header.html" th:remove="tag"></div>
		<section>
			<section class="hbox stretch">
				<div th:include="common/menu.html" th:remove="tag"></div>

				<section id="content">
					<section class="hbox stretch">
						<aside class="aside-md bg-light dker b-r" id="subNav">
							<div class="wrapper b-b header">Liste des Notaires </div>
							<ul class="nav">
								<li class="b-b "><a href="#"><i
										class="fa fa-chevron-right pull-right m-t-xs text-xs icon-muted"></i>Liste</a></li>
							</ul>
						</aside>
						<aside>
							<section class="vbox">
								<header class="header bg-white b-b clearfix">
									<div class="row m-t-sm">
										<div class="col-sm-8 m-b-xs">
											<a href="#subNav" data-toggle="class:hide"
												class="btn btn-sm btn-default active"><i
												class="fa fa-caret-right text fa-lg"></i><i
												class="fa fa-caret-left text-active fa-lg"></i></a>
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-default"
													title="Refresh">
													<i class="fa fa-refresh"></i>
												</button>
												<button type="button" class="btn btn-sm btn-default"
													title="Remove">
													<i class="fa fa-trash-o"></i>
												</button>
												<button type="button" class="btn btn-sm btn-default"
													title="Filter" data-toggle="dropdown">
													<i class="fa fa-filter"></i> <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
											<a th:href="@{/clerc/create}" data-toggle="ajaxModal"
												class="btn btn-sm btn-default"><i class="fa fa-plus"></i>
												Create</a>
										</div>
										<div class="col-sm-4 m-b-xs">
											<div class="input-group">
												<input type="text" class="input-sm form-control"
													placeholder="Search"></input> <span class="input-group-btn">
													<button class="btn btn-sm btn-default" type="button">Go!</button>
												</span>
											</div>
										</div>
									</div>
								</header>
								<section class="scrollable wrapper w-f">
									<section class="panel panel-default">
										<div class="table-responsive">
											<table class="table table-striped m-b-none">
												<thead>
													<tr>
														<th width="20"><label class="checkbox m-n i-checks">
																<input type="checkbox" /> <i></i>
														</label></th>
														<th width="20"></th>
														<th class="th-sortable" data-toggle="class">Notaire
															<span class="th-sort"> <i
																class="fa fa-sort-down text"></i> <i
																class="fa fa-sort-up text-active"></i> <i
																class="fa fa-sort"></i>
														</span>
														</th>
														<th>Salarié</th>
														
														<th width="30"></th>
														<th width="30"></th>
													</tr>
												</thead>
												<tbody th:each="clerc : ${clercs}">

													<tr>
														<td><label class="checkbox m-n i-checks"> <input
																type="checkbox" name="ids[]" /> <i></i></label></td>
														<td><a href="#modal" data-toggle="modal"
															th:onclick="'javascript:show(\'' + ${clerc} + '\');'"><i
																class="fa fa-search-plus text-muted"></i></a></td>
														<td th:text="${clerc.utilisateur.nom}">Idrawfast</td>
														
														<td th:text="${clerc.dateHabilitation}">Idrawfast</td>
														
														
														<td><a class="active" href="#modaldelete"
															data-toggle="modal"
															th:onclick="'javascript:delete(\'' + ${clerc.id} + '\');'"><i
																class="fa fa-trash-o" title="supprimer"></i></a></td>
														<td><a th:href="@{|/clerc/edit/${clerc.id}}"> <i
																class="fa fa-edit" title="éditer"></i>
														</a></td>
													</tr>

												</tbody>
											</table>
										</div>
									</section>
								</section>
								<footer class="footer bg-white b-t">
									<div class="row text-center-xs">
										<div class="col-md-6 hidden-sm">
											<p class="text-muted m-t">Showing 20-30 of 50</p>
										</div>
										<div class="col-md-6 col-sm-12 text-right text-center-xs">
											<ul class="pagination pagination-sm m-t-sm m-b-none">
												<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>

												<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
											</ul>
										</div>
									</div>
								</footer>
							</section>
						</aside>

					</section>
					<a href="#" class="hide nav-off-screen-block"
						data-toggle="class:nav-off-screen" data-target="#nav"></a>
				</section>

			</section>
		</section>
	</section>

	<!-- Bootstrap -->
	<!-- App -->

	<div class="modal fade" id="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModal">
						<b>Notariat Admin Office</b>
					</h4>
				</div>
				<div class="modal-body">
					<p>Gestion Office</p>
					<section class="panel panel-default m-l-n-md m-r-n-md m-b-none">
						<header class="panel-heading">
							<span class="label bg-danger pull-right" id="version">4
								left</span> <b><div id="nomclerc">Tasks</div></b>
						</header>
						<table class="table table-striped m-b-none text-sm">
							<thead>
								<tr>
									<th>Information</th>
									<th>Valeur</th>
									<th width="20"></th>
								</tr>
							</thead>
							<tbody>
								<tr id="item-1">
									<td><div>Alerte Réponse Courrier:</div>
										</td>
									<td id="alerteReponseCourrier"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Poid Max Micen Avec Mentions</div></td>
									<td id="poidMaxMicenAvecMentions"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Numero Crpcen</div></td>
									<td id="numeroCrpcen"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Dernier Numero Archive</div></td>
									<td id="dernierNumeroArchive"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Version Xsd Micen</div></td>
									<td id="versionXsdMicen"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Poid Max Micen </div></td>
									<td id="poidMaxMicen"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Poid Max Micen Avec Mentions Critique</div></td>
									<td id="poidMaxMicenAvecMentionsCritique"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Numero Tva</div></td>
									<td id="numeroTva"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Numero Siren</div></td>
									<td id="numeroSiren"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Version Meta Specifiques Micen</div></td>
									<td id="versionMetaSpecifiquesMicen"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Numero Urssaf</div></td>
									<td id="numeroUrssaf"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Code Ape</div></td>
									<td id="codeApe"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Code Csn</div></td>
									<td id="codeCsn"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Numero Agree</div></td>
									<td id="numeroAgree"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Ribs</div></td>
									<td id="ribs"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Documents Fichiers</div></td>
									<td id="docs"></td>
									<td></td>
								</tr>
								<tr id="item-1">
									<td><div>Annexes</div></td>
									<td id="annexes"></td>
									<td></td>
								</tr>
								


							</tbody>
						</table>
					</section>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-rounded"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-info btn-rounded" data-dismiss="modal">OK</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- Bootstrap -->
	<!-- App -->

	<div class="modal fade" id="modaldelete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModal">Suppression Clerc</h4>
				</div>
				<div class="modal-body">
					<p>Voulez-vous vraimant supprimer cet clerc ?</p>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-rounded"
						data-dismiss="modal">Close</button>
					<a th:href="@{/clerc/delete}"><button type="button"
							class="btn btn-info btn-rounded">OK</button></a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<script language="javascript">
		function show(notaire) {
			var notairedto = JSON.parse(notaire);
			$("#nomoffice").text("Nom Office : " + officedto.nom);
			$("#version").text("Versioning : " + officedto.versioning);
			$("#alerteReponseCourrier").text(officedto.alerteReponseCourrier);
			
			$("#poidMaxMicenAvecMentions").text(officedto.poidMaxMicenAvecMentions);
			$("#numeroCrpcen").text(officedto.numeroCrpcen);
			$("#dernierNumeroArchive").text(officedto.dernierNumeroArchive);
			$("#versionXsdMicen").text(officedto.versionXsdMicen);
			$("#poidMaxMicen").text(officedto.poidMaxMicen);
			$("#poidMaxMicenAvecMentionsCritique").text(officedto.poidMaxMicenAvecMentionsCritique);
			$("#numeroTva").text(officedto.numeroTva);
			$("#numeroSiren").text(officedto.numeroSiren);
			$("#versionMetaSpecifiquesMicen").text(officedto.versionMetaSpecifiquesMicen);
			$("#numeroUrssaf").text(officedto.numeroUrssaf);
			$("#codeApe").text(officedto.codeApe);
			$("#codeCsn").text(officedto.codeCsn);
			$("#numeroAgree").text(officedto.numeroAgree);
			$("#ribs").text(officedto.ribCollection);
			$("#documents").text(officedto.documentFichierCollection);
			$("#annexes").text(officedto.annexeCollection);
			
			console.log($("#myModal").val());
		}
		function deleteoffice(office) {
			var officedto = JSON.stringify(office);
			$("#modaldelete").text(officedto);
			console.log($("#modaldelete").val());
		}
	</script>
	<!-- JS Includes -->
	<div th:include="common/JSincludes.html" th:remove="tag"></div>
</body>
</html>